@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/opensans-extrabold.eot');
    font-weight: normal;
    font-style: normal;
}


* {
    transition: all .2s;
}


                    /*WRAPPERS*/                

.header__wrapper {
    height: 846px;
    background: url(../img/background/header_bg.jpg) top center no-repeat;
}

.content__wrapper {
    height: 948px;
}

.footer__wrapper {
    height: 510px;
    background-color: #ececec;
}

header,
main,
footer {
    height: 100%;
    margin: 0 auto;
}



                    /*HEADER*/


/*Header Hat*/

.header__hat {
    max-width: 960px;
    height: 278px;
    margin: 0 auto;
}

.header__logo {
    width: 30%;
    float: left;
}

.logo {
    padding-top: 70px;
    margin-left: -0.5%;
}

.logo_768px {
    display: none;
}

/*Nav*/

.header__nav_box {
    width: 70%;
    float: left;
}

.header__nav {
    width: 100%;
    margin-top: 73.5px;
}

.nav__list {
    position: relative;
}

.nav__item {
    float: left;
    text-align: center;
}


.item_1 {
    margin-left: 5.1%;

}

.item_2 {
    margin-left: 6.7%;
}

.item_3 {
    margin-left: 6.7%;
}

.item_4 {
    margin-left: 6.8%;
}

.item_5 {
    margin-left: 6.8%;
}

.item_6 {
    margin-left: 6.9%;
}

.nav__link {
    display: block;
    font-family: 'League Gothic';
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 1.5em;
    position: relative;
}

.nav__link:hover:before {
    content: '';
    width: 111%;
    position: absolute;
    border-bottom: 2px solid #edbfff;
    top: 26px;
    
}

.link_1:hover:before {
    left: -8%;
}

.link_2::before,
.link_3::before,
.link_4::before,
.link_5::before,
.link_6::before {
    left: -5%;
}

/*Nav drop*/


.nav__drop {
    display: none;
    position: absolute;
    margin: 0 auto;
    top: 30px;
    left: 0%;
}

.nav__drop li {
    text-align: center;
}

.nav__drop_item_1 {

}

.nav__drop a {
    display: block;
    font-family: 'League Gothic';
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}


/*Header Body*/

.header__body {
    height: 400px;
}

.header__body__info {
    height: 400px;
    max-width: 960px;
    margin: auto;
}

.header__text {
    float: left;
    height: 400px;
    width: 60%;
}

/*Header Body Title*/

.header__text_title {
    display: block;
    font-family: 'League Gothic';
    color: #fefefe;
    font-size: 3.65em;
    padding-top: 78px;
}



/*Header Body Small Title*/

.header__text_small_title {
    display: block;
    font-family: 'League Gothic';
    color: #edbfff;
    font-size: 2em;
    padding-top: 2px;
    margin-left: -0.3%;
    letter-spacing: -0.05px;
}



/*Header Body Text*/

.header__text_text {
    font-family: 'Open Sans Light';
    color: #fff;
    font-size: 1.125em;
    line-height: 24px;
    padding-top: 5px;
    margin-left: -0.4%;
    letter-spacing: -0.05px;
}

.text_space {
    letter-spacing: -0.1px;
}

.text_space_2 {
    letter-spacing: -0.55px;
}

.header__text_text_768px {
    display: none;
}

.header__text_text_768px_2 {
    display: none;
}

/*Header Image*/

.header__img {
    float: left;
    height: 400px;
    width: 40%;
    position: relative;
}

.img_960px {
    position: absolute;
    top: -17px;
    left: 10%;
}

.img_480px {
    display: none;
}

.img_768px {
    display: none;
}

/*Header Bottom*/

.header__bottom {
    height: 168px;
    max-width: 960px;
    margin: auto;
}

                    /*CONTENT*/

/*Content Header*/


.content__header {
    height: 340px;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #0d151b;
    background: #4d3758;
}

.content__header__info {
    height: 340px;
    max-width: 960px;
    margin: auto;
}


.content__header__article {
    float: left;
    height: 340px;
    position: relative;
}

.first_article {
    width: 33%;
}

.second_article {
    width: 33%;
}

.third_article {
    margin-left: 1%;
    width: 33%;
}

.article_img_1 {
    display: block;
    position: absolute;
    height: 28px;
    width: 25px;
    top: 83px;
    left: 3.5%;
    background: url('../img/icons/icons_sprite.png') 0 0 no-repeat; 
}

.article_img_2 {
    display: block;
    position: absolute;
    height: 28px;
    width: 27px;
    top: 85px;
    left: 9.6%;
    background: url('../img/icons/icons_sprite.png') 48% 0% no-repeat; 
}

.article_img_3 {
    display: block;
    position: absolute;
    height: 28px;
    width: 28px;
    top: 83px;
    left: 13.6%;
    background: url('../img/icons/icons_sprite.png') 106% 0% no-repeat; 
}

/*Content Article Topic*/

.article__topic {
    font-family: 'League Gothic';
    font-size: 1.875em;
    color: #fff;
    letter-spacing: -0.08px;
}

.topic_1 {
    padding-top: 76px;
    padding-left: 19.6%;
}

.topic_2 {
    padding-top: 76px;
    padding-left: 26.5%;
}

.topic_3 {
    padding-top: 76px;
    padding-left: 30%;
}

/*Content Article Text*/

.article__text {
    font-family: 'Open Sans Light';
    color: #fff;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.text_1 {
    letter-spacing: -0.1px;
    padding-top: 8px;
    padding-left: 19.2%;
}

.article__text_for_320px {
    display: none;
}

.article__text_for_480px {
    display: none;
}

.article__text_for_768px {
    display: none;
}

.text_2 {
    letter-spacing: -0.1px;
    padding-top: 8px;
    padding-left: 26.2%;
}
.text_3 {
    letter-spacing: -0.1px;
    padding-top: 8px;
    padding-left: 29.5%;
}

/*Content Article Link*/

.article__link_box {
    height: 30px;
    text-align: center;
}

.box_1 {
    padding-top: 14px;
    padding-left: 57.5%;
}

.box_2 {
    padding-top: 14px;
    padding-left: 73.7%;
}

.box_3 {
    padding-top: 13px;
    padding-left: 81%;
}

.article__link {
    font-family: 'League Gothic';
    font-size: 1.125em;
    display: block;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
}

/*Content Body*/


.content__body {
    height: 486px;
    background: #f9f9f9;
}

.content__body__info {
    height: 486px;
    max-width: 960px;
    margin: auto;
    background: #f9f9f9;
}

/*Content body left aside*/

.content__body__aside_left {
    float: left;
    width: 50%;
    height: 486px;
    
}

.inner_article {
    height: 272px;
    width: 88.958333%;
    background: #fff;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #f6f6f6;
    position: relative;
    margin-top: 100px;
    margin-left: 4.6%;
}

.inner_article:after {
    content: '';
    position: absolute;
    top: 272px;
    left: 86%;
    width: 0;
    height: 0;
    border-top: 20px solid #fff; 
    border-left: 20px solid transparent;
}

.inner_article img {
    position: absolute;
    top: 18px;
    left: -5.5%;
}

/*Left Aside Inner Heading*/

.inner_heading_first {
    display: block;
    font-family: 'League Gothic';
    font-size: 1.875em;
    padding-top: 29px;
    margin-left: 9.2%;
    color: #454545;
}

.inner_heading_second {
    color: #edbfff;
}


/*Left Aside Inner Text*/

.inner_text {
    font-family: 'Open Sans Light';
    color: #454545;
    line-height: 24px;
    margin-top: 9px;
    margin-left: 9.1%;
    letter-spacing: -0.08px;
}

.inner_text_for_320px {
    display: none;
}

.inner_text_for_480px {
    display: none;
}

.inner_text_for_768px {
    display: none;
}

/*Body Slider*/

.body--slider label {
    padding-left: 3.7%;
    font-size: 0.9375em;
}


.body--slider label:before {
    display: none;
    background: #fff;
    border: 1px solid #e8e8e8;
    width: 0.9375em;
    height: 15px;
    top: 10px;
    left: 1100%; 
}


.body--slider input[type='radio']:checked + label:before {
    content: "\2022";
    color: #4d4d4d;
    font-size: 280%;
    text-align: center;
    line-height: 16px;
}

/*Content body right aside*/

.content__body__aside_right {
    float: left;
    width: 50%;
    height: 486px;
    position: relative;
}

/*Right Aside Heading*/

.right__aside__heading {
    font-family: 'League Gothic';
    font-size: 1.875em;
    margin-top: 129px;
    margin-left: 5.8%;
    color: #454545;
}


/*Right Aside Items*/

.aside_right_list {
    height: 200px;
}
    

.aside_right_item_1 {
    padding-top: 20px;
    padding-left: 19.7%;
    position: relative;
}

.aside_right_item_1:after {
    content: '';
    position: absolute;
    height: 49px;
    width: 49px;
    top: 15px;
    left: 6%;
    background: url('../img/icons/content_icon_2.png');
}

.aside_right_item_2 {
    font-family: 'Open Sans Light';
    color: #454545;
    padding-top: 8px;
    padding-left: 19.7%;
    letter-spacing: -0.1px;
}

.aside_right_item_3 {
    padding-top: 27px;
    padding-left: 19.7%;
    position: relative;
}

.aside_right_item_3:after {
    content: '';
    position: absolute;
    height: 49px;
    width: 49px;
    top: 22px;
    left: 6%;
    background: url('../img/icons/content_icon_3.png');
}

.aside_right_item_4 {
    font-family: 'Open Sans Light';
    color: #454545;
    padding-top: 8px;
    padding-left: 19.7%;
    letter-spacing: -0.1px;
}


.aside_right_item_5 {
    padding-top: 24px;
    padding-left: 19.7%;
    position: relative;
}

.aside_right_item_5:after {
    content: '';
    position: absolute;
    height: 49px;
    width: 49px;
    top: 20px;
    left: 6%;
    background: url('../img/icons/content_icon_4.png');
}

.aside_right_item_6 {
    font-family: 'Open Sans Light';
    color: #454545;
    padding-top: 8px;
    padding-left: 19.7%;
    letter-spacing: -0.1px;
}

.aside_right_item_link {
    font-family: 'Open Sans Extrabold';
    text-decoration: none;
    color: #454545;
    display: block;
}


.aside_right_link_box {
    text-align: center;
    margin-top: 18px;
    margin-left: 73.4%;
}

.aside_right_link_box a {
    display: block;
    font-family: 'League Gothic';
    text-decoration: none;
    font-size: 1.200em;
    color: #454545;
    display: block;
    letter-spacing: -0.4px;
}

.aside_right_link_box_320px {
    display: none;
}


/*Content Bottom*/

.content__bottom {
    height: 120px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #d8d8d8;
    background: #f9f9f9;
}

.content__icons {
    height: 120px;
    width: 100%;
    margin: auto;
}


.content_icon_1 {
    float: left;
    display: block;
    width: 69px;
    height: 64px;
    background: url('../img/logo/logos.png') no-repeat;
    margin-top: 25px;
    margin-left: 9.6%;
}

.content_icon_2 {
    float: left;
    display: block;
    width: 72px;
    height: 64px;
    background: url('../img/logo/logos.png') 19% 0% no-repeat;
    margin-top: 25px;
    margin-left: 6.8%;
}

.content_icon_3 {
    float: left;
    display: block;
    width: 65px;
    height: 65px;
    background: url('../img/logo/logos.png') 38% 0% no-repeat;
    margin-top: 25px;
    margin-left: 6.7%;
}

.content_icon_4 {
    float: left;
    display: block;
    width: 56px;
    height: 63px;
    background: url('../img/logo/logos.png') 57% 0% no-repeat;
    margin-top: 25px;
    margin-left: 7.8%;
}

.content_icon_5 {
    float: left;
    display: block;
    width: 107px;
    height: 21px;
    background: url('../img/logo/logos.png') 79% 49% no-repeat;
    margin-top: 47px;
    margin-left: 6.4%;
}

.content_icon_6 {
    float: left;
    display: block;
    width: 80px;
    height: 72px;
    background: url('../img/logo/logos.png') 99% 30% no-repeat;
    margin-top: 23px;
    margin-left: 5.5%;
}

                    /*FOOTER*/

footer {
    height: 510px;
}

.footer__header {
    height: 396px;
    background-color: #ececec;
}

.footer__header_box {
    height: 396px;
    max-width: 960px;
    margin: 0 auto;
}

.footer__columns {
    float: left;
    height: 396px;
}

.column_1 {
    width: 33%;
}

.column_2 {
    width: 33%;
}

.column_3 {
    width: 33%;
    margin-left: 1%;
}

/*Footer Column Headings*/

.column_heading {
    font-family: 'League Gothic';
    color: #454545;
}

.column_heading_480px {
    display: none;
}

.column_heading_768px {
    display: none;
}

.heading_1 {
    font-size: 3em;
    padding-top: 94px;
    margin-left: -0.5%;
    letter-spacing: -0.5px;
}

.heading_1 span {
    color: #b9b9b9;
}

.heading_2,
.heading_3 {
    font-family: 'League Gothic';
    font-size: 1.875em;
}

.heading_2 {
    margin-top: 96px;
    margin-left: 6%;
}

.heading_3 {
    margin-top: 96px;
    margin-left: 10.5%;
}

/*Footer Column Text*/

.column_text {
    font-family: 'Open Sans Light';
    color: #787878;
    font-family:;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: -0.1px;
}

.column_text_480px {
    display: none;
}

.column_text_768px {
    display: none;
}

.col_1_txt_1 {
    font-family: Georgia;
    font-style: italic;
    color: #c5c5c5;
    margin-top: 10px;
    margin-left: -1%;
}

.col_1_txt_2 {
    margin-top: 6px;
    margin-left: -0.5%;
}

.col_2_txt {
    margin-top: 8px;
    margin-left: 6.3%;
}

.col_3_txt {
    margin-top: 8px;
    margin-left: 10.5%;
}


/*Footer Bottom*/

.footer__bottom {
    height: 114px;
    background: url(../img/background/footer_bg.jpg) 50% 0% no-repeat;
}

.footer__bottom_box {
    max-width: 960px;
    margin: 0 auto;
}

/*Footer Nav*/

.footer__bottom_nav {
    float: left;
    width: 55%;
}

.footer--nav {
    margin-top: 46px;
}

.footer--nav .nav__item {
    float: left;
    text-align: left;
}

.footer--nav .item_1 {
    margin-left: -0.4%;
}

.footer--nav .item_2 {
    margin-left: 7.7%;
}

.footer--nav .item_3 {
    margin-left: 7.6%;
}

.footer--nav .item_4 {
    margin-left: 7.7%;
}

.footer--nav .item_5 {
    margin-left: 7.6%;
}

.footer--nav .item_6 {
    margin-left: 7.9%;
}

.footer--nav .nav__link {
    font-size: 1.25em;
}

/*Footer Text*/

.footer__info {
    float: left;
    width: 45%;
}

.footer__info_text {
    font-family: 'Open Sans Light';
    font-size: 0.75em;
    color: #fff;
    margin-top: 53px;
    margin-left: 67.9%;
}

.pingbull {
    font-family: 'Open Sans Extrabold';
    font-size: 0.75em;
    color: #fff;
}


/*Media*/


@media only screen and (max-width: 930px) and (min-width: 785px) {

    .heading_2 {
        margin-top: 10px;
    }

    .heading_3 {
        margin-top: 10px;
    }

    .footer--nav .item_1 {
        margin-left: 4%;
    }

    .footer--nav .item_2 {
        margin-left: 4%;
    }

    .footer--nav .item_3 {
        margin-left: 4%;
    }

    .footer--nav .item_4 {
        margin-left: 4%;
    }

    .footer--nav .item_5 {
        margin-left: 4%;
    }

    .footer--nav .item_6 {
        margin-left: 4%;
    }
}



@media only screen and (max-width: 900px) and (min-width: 851px) {

    .text_1 {
        padding-left: 12%;
    }

    .text_2 {
        padding-left: 17%;
    }

    .text_3 {
        padding-left: 17%;
    }

    .box_3 {
        padding-left: 60%;
    }

}

@media only screen and (max-width: 850px) and (min-width: 785px) {

    .text_1 {
        padding-left: 12%;
    }

    .text_2 {
        padding-left: 17%;
    }

    .text_3 {
        padding-left: 17%;
    }

    .box_3 {
        padding-left: 60%;
    }

    .inner_text {
        font-size: 0.875em;
    }

    .aside_right_link_box {
        margin-top: 30px;
    }
}


@media only screen and (max-width: 784px) {

    .header__text_title {
        font-size: 3em;
    }

    .header__text_small_title {
        font-size: 1.5em;
    }

    .article__topic {
        font-size: 1.5em;
    }

    .column_heading_480px {
        font-size: 1.5em;
    }

    .column_text_768px {
        line-height: 1.5em;
    }

    .aside_right_link_box_320px {
        font-size: 1.200em;
    }

    .aside_right_item_1:after {
        content: '';
        position: absolute;
        height: 49px;
        width: 49px;
        top: 15px;
        left: 6%;
        background: url('../img/icons/content_icon_768px_1.png');
    }

    .aside_right_item_3:after {
        content: '';
        position: absolute;
        height: 49px;
        width: 49px;
        top: 22px;
        left: 6%;
        background: url('../img/icons/content_icon_768px_2.png');
    }

    .aside_right_item_5:after {
        content: '';
        position: absolute;
        height: 49px;
        width: 49px;
        top: 20px;
        left: 6%;
        background: url('../img/icons/content_icon_768px_3.png');
    }

    .footer__bottom_nav {
        width: 75%;
    }

    .footer--nav .nav__list {
        width: 100%
    }

    .footer__info {
        width: 25%;
    }


    .footer--nav .item_1 {
        width: 10%;
        margin-left: 0%;
    }

    .footer--nav .item_2 {
        width: 15%;
        margin-left: 0.4%;
    }

    .footer--nav .item_3 {
        width: 10%;
        margin-left: 0.2%;
    }

    .footer--nav .item_4 {
        width: 20%;
        margin-left: 0.2%;
    }

    .footer--nav .item_5 {
        width: 18%;
        margin-left: -0.6%;
    }

    .footer--nav .item_6 {
        width: 28%;
        margin-left: -2%;
    }
 
    .pingbull {
        font-size: 1em;
    }

}

@media only screen and (max-width: 750px) and (min-width: 481px) {

    .content_icon_6 {
        margin-left: 2.5%;
    }
}


@media only screen and (max-width: 690px) and (min-width: 481px) {

    .aside_right_link_box_320px {
        margin-top: 60px;
    }

    .content_icon_1 {
        margin-left: 1%;
    }

    .content_icon_2 {
        margin-left: 4%;
    }

    .content_icon_3 {
        margin-left: 4%;
    }

    .content_icon_4 {
        margin-left: 5%;
    }

    .content_icon_5 {
        margin-left: 5%;
    }

    .content_icon_6 {
        margin-left: 2.5%;
    }
}

@media only screen and (max-width: 650px) and (min-width: 481px) {

    .topic_1 {
        padding-top: 10px;
        padding-left: 18%;
    }

    .topic_2 {
        padding-top: 10px;
        padding-left: 25%;
    }

    .topic_3 {
        padding-top: 10px;
        padding-left: 29%;
    }

    .text_1_768px {
        padding-left: 11%;
    }

    .text_2_768px {
        padding-left: 16%;
    }

    .text_3_768px {
        padding-left: 16%;
    }

    .article_img_1 {
        top: 10px;
        left: 1%;
    }

    .article_img_2 {
        top: 10px;
        left: 7%;
    }

    .article_img_3 {
        top: 10px;
        left: 11%;
    }

    .inner_heading_first {
        margin-left: 18%;
    }

    .inner_text_for_768px {
        font-size: 0.813em;
        margin-left: 2%;
    }

    .content_icon_1 {
        margin-left: 1%;
    }

    .content_icon_2 {
        margin-left: 1%;
    }

    .content_icon_3 {
        margin-left: 1%;
    }

    .content_icon_4 {
        margin-left: 1%;
    }

    .content_icon_5 {
        margin-left: 1%;
    }

    .content_icon_6 {
        margin-left: 1%;
    }

    .column_heading_480px {
        padding-top: 10px;
    }

    .heading_3 {
        padding-top: 10px;
    }
}



@media only screen and (max-width: 480px) {

    .item_1 {
        width: 98.8%;
        margin-top: -15px;
    }

    .item_1:hover {
        background: rgb(54,41,62);
    }

    .nav__drop {
        background: rgb(54,41,62);
    }

    .header__text_title {
        font-size: 2.125em;
        padding-top: 130px;
    }

    .header__text_small_title {
        font-size: 1.125em;
    }

    .img_480px {
        top: 19px;
        left: -16%;
    }

    .article_img_1 {
        width: 24px;
    }

    .article_img_2 {
        width: 24px;
    }

    .article_img_3 {
        width: 24px;
    }

    .right__aside__heading {
        padding-top: 80px;
    }

    .aside_right_item_1:after {
        content: '';
        position: absolute;
        height: 49px;
        width: 49px;
        top: 15px;
        left: 18%;
        background: url('../img/icons/content_icon_480px_1.png');
    }

    .aside_right_item_3:after {
        content: '';
        position: absolute;
        height: 49px;
        width: 49px;
        top: 22px;
        left: 18%;
        background: url('../img/icons/content_icon_480px_2.png');
    }

    .aside_right_item_5:after {
        content: '';
        position: absolute;
        height: 49px;
        width: 49px;
        top: 20px;
        left: 18%;
        background: url('../img/icons/content_icon_480px_3.png');
    }

     .content__body {
        height: 790px;
    }

    .content__bottom {
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #d8d8d8;
    }


    .content_icon_1 {
        margin-top: 40px;
        margin-left: 17%;
    }

    .content_icon_2 {
        margin-top: 40px;
        margin-left: 12%;
    }

    .content_icon_3 {
        margin-top: 40px;
        margin-left: 12%;
    }

    .content_icon_4 {
        margin-top: 25px;
        margin-left: 14%;
    }

    .content_icon_5 {
        margin-top: 48px;
        margin-left: 10%;
    }

    .content_icon_6 {
        width: 86px;
        background: url('../img/logo/logos.png') 101.5% 30% no-repeat;
        margin-top: 25px;
        margin-left: 13%;
    }

    .column_text_480px {
        line-height: 1.5em;
    }

    .footer__bottom_nav {
        width: 100%;
    }

    .footer__info {
        width: 100%;
    }

}


@media only screen and (max-width: 430px) and (min-width: 401px) {

    .topic_1 {
        padding-top: 10px;
        padding-left: 10%;
    }

    .topic_2 {
        padding-top: 0px;
        padding-left: 10%;
    }

    .topic_3 {
        padding-top: 30px;
        padding-left: 10%;
    }

    .article_img_1 {
        top: 10px;
        left: 2%;
    }

    .article_img_2 {
        top: 10px;
        left: 2%;
    }

    .article_img_3 {
        top: 10px;
        left: 2%;
    }

    .article__text_for_480px {
        padding-left: 10%;
    }

    .header__text_title {
        margin-top: 50px;
        padding-left: 5%;
    }

    .header__text_small_title {
        margin-left: 5%;
    }

    .inner_heading_first {
        margin-left: 18%;
    }

    .inner_text_for_480px {
        font-size: 0.813em;
        margin-left: 2%;
    }

    .column_text_480px {
        font-size: 0.813em;
    }

    .footer__info_text {
        margin-top: 30px;
    }

}


@media only screen and (max-width: 400px) and (min-width: 321px) {

     .box_1 {
        padding-top: 0px;
    }

    .box_2 {
        margin-top: -20px;
    }

    .box_3 {
        margin-top: -20px;
    }

    .topic_1 {
        padding-top: 10px;
        padding-left: 12%;
    }

    .topic_2 {
        padding-top: 0px;
        padding-left: 12%;
    }

    .topic_3 {
        padding-top: 30px;
        padding-left: 12%;
    }

    .article_img_1 {
        top: 10px;
        left: 2%;
    }

    .article_img_2 {
        top: 0px;
        left: 2%;
    }

    .article_img_3 {
        top: 30px;
        left: 2%;
    }

    .article__text_for_480px {
        padding-left: 10%;
    }

    .header__text_title {
        margin-top: 50px;
        padding-left: 5%;
    }

    .header__text_small_title {
        margin-left: 5%;
    }

    .inner_heading_first {
        margin-left: 15%;
    }

    .inner_text_for_480px {
        font-size: 0.813em;
        margin-left: 2%;
    }

    .aside_right_link_box_320px {
        margin-top: 60px;
    }

    .aside_right_list {
        background-position: 5.5% 10.5%, 5.5% 55.5%, 5.5% 99.5%;
    }

    .content_icon_1 {
        margin-left: 10%;
    }

    .content_icon_2 {
        margin-left: 10%;
    }

    .content_icon_3 {
        margin-left: 10%;
    }

    .content_icon_4 {
        margin-left: 8%;
    }

    .content_icon_5 {
        margin-left: 5%;
    }


    .content_icon_6 {
        margin-left: 5%;
    }

    .heading_1_480px {
        padding-top: 60px;
    }

    .column_text_480px {
        font-size: 0.813em;
    }

    .footer__info_text {
        margin-top: 30px;
    }

}




@media only screen and (max-width: 320px) {

    .nav__drop {
        top: 27px;
    }

    .inner_heading_first {
        font-size: 1.5em;
    }

    .inner_heading_second {
        font-size: 1em;
    }

    .aside_right_link_box a {
        font-size: 2em;
    }

    .aside_right_item_1 {
        height: 48px;
        margin-top: 20px;
        padding-top: 0px;
        position: relative;
    }

    .aside_right_item_2 {
        position: relative;
        z-index: 888;
        margin-top: -30px;
    }


    .aside_right_item_1:after {
        content: '';
        position: absolute;
        z-index: 999;
        height: 70px;
        width: 49px;
        top: -1px;
        left: 8%;
        background: url('../img/icons/content_icon_320px_1.png') no-repeat;
    }

    .aside_right_item_3 {
        height: 48px;
    }

    .aside_right_item_4 {
        position: relative;
        z-index: 887;
        margin-top: -30px;
    }


    .aside_right_item_3:after {
        content: '';
        position: absolute;
        height: 70px;
        width: 49px;
        top: 20px;
        left: 8%;
        background: url('../img/icons/content_icon_320px_2.png') no-repeat;
    }

    .aside_right_item_5 {
        height: 48px;
    }

    .aside_right_item_6 {
        position: relative;
        z-index: 886;
        margin-top: -30px;
    }

    .aside_right_item_5:after {
        content: '';
        position: absolute;
        height: 70px;
        width: 49px;
        top: 25px;
        left: 8%;
        background: url('../img/icons/content_icon_320px_3.png') no-repeat;
    }


    .content_icon_1 {
        width: 69px;
        height: 64px;
        background: url('../img/logo/logos.png') no-repeat;
        margin-top: 52px;
        margin-left: 19.5%;
    }

    .content_icon_2 {
        width: 72px;
        height: 64px;
        background: url('../img/logo/logos.png') 19% 0% no-repeat;
        margin-top: 52px;
        margin-left: 17%;
    }

    .content_icon_3 {
        width: 65px;
        height: 65px;
        background: url('../img/logo/logos.png') 38% 0% no-repeat;
        margin-top: 60px;
        margin-left: 23%;
    }

    .content_icon_4 {
        width: 56px;
        height: 63px;
        background: url('../img/logo/logos.png') 57% 0% no-repeat;
        margin-top: 60px;
        margin-left: 20%;
    }

    .content_icon_5 {
        width: 107px;
        height: 21px;
        background: url('../img/logo/logos.png') 79% 49% no-repeat;
        margin-top: 180px;
        margin-left: -69%;
    }

    .content_icon_6 {
        width: 105px;
        height: 72px;
        background: url('../img/logo/logos.png') 100% 30% no-repeat;
        margin-top: -45px;
        margin-left: 55%;
    }

}

